<!DOCTYPE html>{{ $.Scratch.Set "isPhotos" 1 }}
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        <div class="page page--photo">
            {{ partial "header.html" . }}
            <div id="body">
                <article class="photo--frontpage h-entry">
                    <header>
                        <h1 class="p-name"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                        <div class="photo__meta article__meta">
                            <p class="photo__meta__attributes article__meta__attributes">
                                <i class="icon icon-clock"></i> Posted on {{ partial "post_datetime.html" . }}
                                {{ if .Params.tags }}
                                <br><i class="icon icon-tags"></i> Tags: {{ range .Params.tags }}<a href="/tags/{{ .|urlize }}">{{ . }}</a> {{ end }}
                                {{ end }}
                                {{ if .Params.inReplyTo }}
                                {{ $url := urls.Parse .Params.inReplyTo }}
                                <br><i class="icon icon-reply"></i> Replying to <a href="{{ .Params.inReplyTo }}" class="u-in-reply-to">{{ $url.Host }}{{ $url.Path }}</a>
                                {{ end }}
                            </p>
                            <div class="photo__meta__author article__meta__author h-card h-card--small p-author">
                                <img src="/images/me.jpg" class="u-photo" alt="Picture of Horst Gutmann">
                                <p><a href="/" class="p-author p-name u-url">Horst Gutmann</a>, <span class="p-job-title">software engineer</span> from <span class="p-locality">Graz</span>, <span class="p-country">Austria</span>.</p>
                            </div>
                        </div>
                    </header>
                    <figure class="photo__content photo__content--{{ .Params.format }}">
                        {{ $fullImage := printf "https://zerokspot.com/api/photos/%s?profile=1024" .Params.image }}
                        {{ $largeImage := printf "https://zerokspot.com/api/photos/%s?profile=800" .Params.image }}
                        <a href="{{ $fullImage }}" class="photo__image"><img src="{{ $largeImage }}"></a>
                        <figcaption class="photo__caption e-content">{{ .Content }}</figcaption>
                        {{ if .Params.camera }}
                        <div class="photo__camera">
                            <dl>
                                <dt><i class="icon icongroup-solid icon-camera-retro"></i> Camera:</dt>
                                <dd>{{ .Params.camera }}{{ if .Params.lens }} // {{ .Params.lens }}{{ end }}</dd>
                            </dl>
                        </div>
                        {{ end }}
                    </figure>
                    {{ partial "comments.html" . }}
                </article>
            </div>
            {{ $timeJS := resources.Get "js/time.js" | js.Build "js/time.js" | minify | fingerprint }}
            <script src="{{ $timeJS.RelPermalink }}"></script>
            {{ partial "footer.html" }}
        </div>
    </body>
</html>
