<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        <div class="page page--single">
            {{ partial "header.html" . }}
            <div id="body">
                <article class="article--frontpage">
                    <header>
                        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                    </header>
                    <div class="article__content">
                        {{ .Content }}
                    </div>
                        {{ if (eq .File.BaseFileName "reviews") }}
                            <ul class="page__listing page__listing--mini">
                                {{ range (where (where $.Site.Pages "Section" "weblog") "Params.rating" "!=" nil) }}
                                <li class="page__listing__entry">
                                    <span class="entry-prefix">
                                        {{ if (or (in .Params.tags "gaming") (in .Params.tags "videogame") (in .Params.tags "game") (in .Params.tags "games")) }}
                                        <i class="icon icon-gamepad" title="Video game"></i>
                                        {{ else if (or (in .Params.tags "books") (in .Params.tags "book")) }}
                                        <i class="icon icon-book" title="Book"></i>
                                        {{ else if (or (in .Params.tags "movie") (in .Params.tags "tv") (in .Params.tags "movies") (in .Params.tags "show") (in .Params.tags "shows") (in .Params.tags "tv-show") (in .Params.tags "tvshow")) }}
                                        <i class="icon icon-film" title="Movie / TV"></i>
                                        {{ end }}
                                    </span>
                                    <a href="{{ .RelPermalink }}">
                                        {{ .Title }}
                                    </a>
                                    <span class="rating">{{ partial "rating.html" . }}</span>
                                </li>
                                {{ end }}
                            </ul>
                        {{ end }}
                </article>
            </div>
            {{ partial "footer.html" }}
        </div>
    </body>
</html>
