.h-card--tiny {
    display: inline-block;
    img {
        display: inline-block;
        height: 1.9rem;
        position: relative;
        top: 4px;
    }
}

.h-card--small {
    flex: 1;
    margin-left: 1.5rem;
    text-align: left;
    img {
        display: block;
        width: 40px;
        float: left;
        border: 1px solid #DDD;
        margin: 1.4rem 0.5rem 0 0;
        padding: 2px;
    }
}
