@import "normalize";
@import "variables";
@import "content";
@import "common";
@import "header";
@import "postpaths";
@import "reading";
@import "hcard";
@import "photo";
@import "mixins";

@font-face {
  font-family: 'Liberation Mono';
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/liberation-mono/LiberationMono-Regular-webfont.woff') format('woff')
}
@font-face {
  font-family: 'Liberation Mono';
  font-weight: bold;
  font-display: swap;
  src: url('/fonts/liberation-mono/LiberationMono-Bold-webfont.woff') format('woff')
}
@font-face {
  font-family: 'Liberation Mono';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/liberation-mono/LiberationMono-BoldItalic-webfont.woff') format('woff')
}
@font-face {
  font-family: 'Liberation Mono';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/liberation-mono/LiberationMono-Italic-webfont.woff') format('woff')
}

.more {
    display: block;
    margin-top: 1rem;
    text-align: right;
}

.row {
    display: flex;
}

.row > * {
    padding: 0 2rem;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}

.row--even > * {
    flex: 1;
}

.row--first > * {
    flex: 1;
}

.row--first > *:first-child {
    flex: 1.4;
}

#body,
.page__header nav,
.page__footer {
    max-width: $baseWidth;
    margin: auto;
}

#body {
    font-family: $content-font;
}


.page__intro {
    margin-bottom: 3rem;
}

.article__content,
.page__intro {
    font-size: 1.8rem;
    line-height: 3.0rem;
}

aside {
    font-size: 1.6rem;
    line-height: 2.8rem;
    background: #F1F1F1;
    border: 1px solid #EAEAEA;
}

.article__content,
.note__content,
.event__content,
.comments,
.webmention-widget,
.mastodon-comments {
    @include content-content;
}

.page--single-note {
    h1 {
        margin-bottom: 3rem;
    }
}

.note {
    padding-left: 3rem;
    padding-right: 3rem;
}

.notes-listing .note {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 3px solid #CCC;

    &:first-child {
        border-top: none;
    }
}

.entry-meta,
.article__meta,
.photo__meta,
.note__meta {
    display: block;
    margin: 0;
    text-align: right;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #999;

    a {
        color: $base-fg;
    }
}
.entry-meta,
.photo__meta,
.article__meta {
    text-align: center;
    padding: 0;
    margin: 5px 0 30px 0;
    display: flex;
}

.entry-meta__attributes,
.photo__meta__attributes,
.article__meta__attributes {
    flex: 1;
    text-align: right;
    margin: 0 2.5rem 0 0;

}
.entry-meta__attributes:nth-child(even) {
    text-align: left;
    margin: 0 0 0 2.5rem;
}

.entry-meta__attributes b {
    font-weight: normal;
    color: $base-fg;
}
.darkmode .entry-meta__attributes b {
    color: #FFF;
}

.page--single {
    article header {
        font-family: $content-font;
    }
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 3rem 0 0 0;
    text-align: center;
}

.page-item {
    display: inline-block;
    margin: 0 0.5rem;

    .page-link {
        text-decoration: none;
    }

    &.disabled {
        opacity: 0.2;
    }
    &.active {
        font-weight: bold;
        .page-link {
            text-decoration: underline;
        }
    }
}

.incoming {
    text-align: center;
    font-style: italic;
}

.incoming__listing {
    list-style: none;
    padding: 0;
    text-align: center;
}

.incoming__item {
    display: inline-block;
    font-style: normal;
    a {
        padding: 5px;
        display: block;
        text-decoration :none;
        font-weight: bold;
    }
}

.incoming__item--devto {
    background: #0a0a0a;
    a {
        color: #FFFFFF;
        text-transform: uppercase;
    }
}

.incoming__item--twitter {
    background: #1da1f2;
    a {
        color: #FFFFFF;
    }
}

.incoming__item--mastodon {
    background: #282c37;
    a {
        color: #479ddb;
    }
}

.incoming__item--reddit {
    background: #FF4500;
    a {
        color: #FFFFFF;
    }
}

.comments {
    text-align: center;
}

.feedback {
    max-width: 80%;
    margin: auto;
    padding-top: 100px;
}

.incoming, .webmention-widget, .mastodon-comments {
    padding-top: 20px;
}

.mastodon-comment:first-child {
    border-top: 0;
}

.mastodon-comment {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 10px 0;
    border-top: 1px dotted #888;
}

.mastodon-comment__avatar {
    a {
        display: block;
        border: 1px solid #888;
        padding: 3px;
        box-shadow: none;
    }
    img {
        width: 90px;
        display: block;
    }
}
a.mastodon-comment__date {
    display: block;
    text-align: right;
    border: none;
    box-shadow: none;
    font-size: 70%;
    &:hover {
        background: none;
    }
}
.mastodon-comment__content {
    padding-left: 20px;
    p:first-child {
        margin-top: 0;
    }
}

.mastodon-favorited ul {
    list-style: none;
    padding: 0;
}

.mastodon-favorited__item {
    display: inline-block;
    margin-right: 3px;
    a {
        display: block;
        border: 1px solid #888;
        padding: 3px;
        box-shadow: none;
        height: 58px;
        box-sizing: border-box;
    }
    img {
        width: 50px;
        max-height: 50px;
    }
}

.page__listing li {
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px dotted #CCC;
    a {
        font-weight: bold;
    }

    a, time, .rating {
        line-height: 2.5rem;
        font-size: 1.7rem;
    }

}

.page__listing {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        &:hover {
            background: #EFEFEF;
        }
    }
}

.page__listing--mini {
    li {
        display: grid;
        grid-template-areas: "prefix link suffix";
        grid-template-columns: 25px auto 110px;


        a {
            grid-area: link;
        }

        .entry-prefix {
            grid-area: prefix;
            line-height: 2.5rem;
        }

        .rating, .entry-prefix {
            svg {
                margin: 0;
            }
        }

        time, .rating {
            font-size: 1.4rem;
            a {
                font-size: 1.4rem;
            }
            grid-area: suffix;
            float: right;
        }
        .rating {
            text-align: right;
        }
    }
}

.page__listing--noprefix {
    li {
        grid-template-areas: "link suffix";
        grid-template-columns: auto 110px;
    }
    .entry-prefix {
        display: none;
    }
}


.page__footer {
    padding-top: 60px;
    font-size: 1.5rem;
    line-height: 2.0rem;
    opacity: 0.8;
}

.count {
    font-size: 1.2rem;
    opacity: 0.6;
    font-style: normal;
}

#credits {
    .licenseimg {
        float: left;
        margin: 0 1rem 1rem 0;
    }
    p {
        margin-left: 98px;
    }
}

.presences__title {
    font-size: 1.6rem;
    padding: 5px;
    margin: 0;
    background: $blue;
}

.presences__content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.presences__item {
    margin-top: 2px;
}

.presences__item a {
    display: block;
    padding: 5px;
    background: lighten($blue, 10);
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: #FFF;
        background: lighten($heading-fg, 30);
    }
}

.tagline {
    text-align: center;
    margin: 10px 0 60px 0;
    font-style: italic;
    padding: 0;
    opacity: 0.6;
}

.page--frontpage section.contact {
    margin: 0;
    p {
        padding: 0;
        margin: 0;
    }
}

.page--frontpage section {
    margin-bottom: 60px;
}

@media screen and (min-width: 800px) {
    .page--frontpage__intro {
        display: grid;
        grid-template-columns: 600px 200px;
    }
    .presences {
        padding-top: 20px;
    }

    .presences__title,
    .presences__content {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .article__meta {
        display: block;
    }
    .note {
        padding: 0;
    }
    .article__meta__attributes,
    .article__meta__author {
        text-align: left;
        width: 100%;
        overflow: hidden;
        margin: 0;
    }
    .row {
        display: block;

        > * {
            margin: 0 0 1em 0;
            padding: 0;
        }
    }
    .page__header {
        height: auto;
        margin-bottom: 10px;
    }
    figure {
        margin: 1em auto;
    }
    #main-nav ul {
        li {
            display: block;
        }
    }
    #body,
    .page__footer {
        padding: 10px;
    }
    .feedback {
        max-width: 100%;
    }
}

.page--archive {
    form {
        display: block;
        text-align: center;

        padding: 1rem;
        margin: 1rem 0 2rem 0;
        background: #EFEFEF;
        border: 1px solid #DFDFDF;

        p {
            padding-top: 0;
            margin-top: 0;
        }

        select {
            margin-right: 2rem;
            text-align: left;
        }
        input {
            text-align: left;
        }
    }
}

.archive__poweredby {
    margin-top: 1rem;
    text-align: center;
}

.webmention-widget {
    margin-top: 4rem;
}
.webmention-widget h2 {
//    text-align: center;
}

.webmention svg {
    display: inline-block;
    margin: 3px 0px 0 0;
}

.webmention-list > p {
}

.webmention-list__list {
    list-style: none;
}

.page__listing__entry {
    svg {
        margin-right: 5px;
        opacity: 0.5;
    }
}

.webmention--comment .webmention__content {
    margin: 1rem 0 0 2rem;
}

.webmention blockquote {
    color: #FFF;
}

.webmention__date {
    display: inline-block;
    padding-left: 1rem;
    font-size: 1.4rem;
    opacity: 0.8;
}

.disclaimer.disclaimer--small {
    font-size: 1.3rem;
    line-height: 2.0rem;
    opacity: 0.9;
    font-style: italic;
}

h1 a {
    text-decoration: underline;
}

.h-entry h1 a {
    text-decoration: none;
}
time a {
    color: $base-fg;
    font-weight: normal !important;
}
time .age {
    display: block;
}
.help {
    font-size: 1.4rem;
    color: #999;

    a {
        color: #333;
        box-shadow: none !important;
        text-decoration: underline;
        border-bottom: none;

        &:hover {
            background: transparent;
            color: #333;
        }
    }
}

.icon {
    width: 1.25em;
    height: 1em;
    overflow: visible;
    display: inline-block;
    vertical-align: -0.125em;
}

.taglist {
    list-style: none;
    margin: 18px 0;
    padding: 0;
    line-height: 3rem;

    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 1rem;
    }
}

.tag__count {
    font-size: 70%;
    opacity: 80%;
    padding-left: 0.5rem;
}

@include table-listing('.archive__listing');

.entry-nav {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 40% 20% 40%;

    div {
        padding: 0 2.5rem;
    }

    .nav-entry__empty {
        opacity: 0.5;
    }

    a {
        display: block;
        text-decoration: none;
    }
    b {
        display: block;
        text-decoration: underline;
    }

    .entry-nav__prev {
        text-align: right;
    }

    .entry-nav__next {
        text-align: left;
    }

    .entry-nav__up {
        text-align: center;
    }
}

@import "events";
@import "darkmode";

figure {
    img {
        max-height: 600px;
    }
}

@media screen and (min-width: 800px) {
.figure-group {
    display: grid;
    grid-template-columns: 50% 50%;
}
}
