@import "normalize";
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import "variables";
@import "content";
@import "common";
@import "header";
@import "postpaths";

@font-face {
  font-family: 'Liberation Mono';
  font-weight: normal;
  src: url('/fonts/liberation-mono/LiberationMono-Regular-webfont.woff') format('woff')
}
@font-face {
  font-family: 'Liberation Mono';
  font-weight: bold;
  src: url('/fonts/liberation-mono/LiberationMono-Bold-webfont.woff') format('woff')
}
@font-face {
  font-family: 'Liberation Mono';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/liberation-mono/LiberationMono-Bolditalic-webfont.woff') format('woff')
}
@font-face {
  font-family: 'Liberation Mono';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/liberation-mono/LiberationMono-Italic-webfont.woff') format('woff')
}

.more {
    display: block;
    margin-top: 1rem;
    text-align: right;
}

.row {
    display: flex;
}

.row > * {
    padding: 0 2rem;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}

.row--even > * {
    flex: 1;
}

.row--first > * {
    flex: 1;
}

.row--first > *:first-child {
    flex: 1.4;
}

#body,
.page__header nav,
.page__footer {
    max-width: $baseWidth;
    margin: auto;
}

#body {
    font-family: $content-font;
}


.page__intro {
    margin-bottom: 3rem;
}

.article__content,
.page__intro {
    font-size: 1.8rem;
    line-height: 3.0rem;
}

aside {
    font-size: 1.6rem;
    line-height: 2.8rem;
    background: #F1F1F1;
    border: 1px solid #EAEAEA;
}

.article__content {
    @include content-content;
}

.page--single {

    article header {
        font-family: $content-font;
    }

    .article__meta {
        text-align: center;
        font-size: 1.4rem;
        color: #999;
        padding: 0;
        margin: 5px 0 30px 0;
    }

}

.incoming {
    text-align: center;
    font-style: italic;
}

.incoming__listing {
    list-style: none;
    padding: 0;
    text-align: center;
}

.incoming__item {
    display: inline-block;
    font-style: normal;
    a {
        padding: 5px;
        display: block;
        text-decoration :none;
        font-weight: bold;
    }
}

.incoming__item--devto {
    background: #0a0a0a;
    a {
        color: #FFFFFF;
        text-transform: uppercase;
    }
}

.incoming__item--twitter {
    background: #1da1f2;
    a {
        color: #FFFFFF;
    }
}

.incoming__item--mastodon {
    background: #282c37;
    a {
        color: #479ddb;
    }
}

.comments {
    padding-top: 40px;
    text-align: center;
}

.comments, .incoming {
    max-width: 70%;
    margin: auto;
}


.page__listing--mini {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        overflow: hidden;
        padding: 5px;
        border-bottom: 1px dotted #CCC;

        &:hover {
            background: #EFEFEF;
        }


        a {
            font-weight: bold;
        }

        a, time {
            line-height: 2.5rem;
            font-size: 1.7rem;
        }

        time {
            float: right;
        }
    }
}


.page__footer {
    padding-top: 60px;
    font-size: 1.5rem;
    line-height: 2.0rem;
    opacity: 0.8;
}

.count {
    font-size: 1.2rem;
    opacity: 0.6;
    font-style: normal;
}

#credits {
    .licenseimg {
        float: left;
        margin: 0 1rem 1rem 0;
    }
    p {
        margin-left: 98px;
    }
}

.presences__title {
    font-size: 1.6rem;
    padding: 5px;
    margin: 0;
    background: $blue;
}

.presences__content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.presences__item {
    margin-top: 2px;
}

.presences__item a {
    display: block;
    padding: 5px;
    background: lighten($blue, 10);
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: #FFF;
        background: lighten($heading-fg, 30);
    }
}

.tagline {
    text-align: center;
    margin: 10px 0 60px 0;
    font-style: italic;
    padding: 0;
    opacity: 0.6;
}

.page--frontpage section.contact {
    margin: 0;
    p {
        padding: 0;
        margin: 0;
    }
}

.page--frontpage section {
    margin-bottom: 60px;
}

@media screen and (min-width: 800px) {
    .page--frontpage__intro {
        display: grid;
        grid-template-columns: 600px 200px;
    }
    .presences {
        padding-top: 20px;
    }

    .presences__title,
    .presences__content {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .row {
        display: block;

        > * {
            margin: 0 0 1em 0;
            padding: 0;
        }
    }
    .page__header {
        height: auto;
        margin-bottom: 10px;
    }
    figure {
        margin: 1em auto;
    }
    #main-nav ul {
        li {
            display: block;
        }
    }
    #body,
    .page__footer {
        padding: 10px;
    }
}

.page--archive {
    form {
        display: block;
        text-align: center;

        padding: 1rem;
        margin: 1rem 0 2rem 0;
        background: #EFEFEF;
        border: 1px solid #DFDFDF;

        p {
            padding-top: 0;
            margin-top: 0;
        }

        select {
            margin-right: 2rem;
            text-align: left;
        }
        input {
            text-align: left;
        }
    }
}
