<!DOCTYPE html>{{ $.Scratch.Set "isReading" 1 }}
<html lang="en">
    {{ partial "head.html" $ }}
    <body>
        <div class="page page--single">
            {{ partial "header.html" $ }}
            <div id="body">
                <div class="reading-listing">
                  <h1>Reading</h1>
                  <div class="page__intro">
                    <p>Here you can find a list of books I've read, am reading, and want to read in the future.</p>
                  </div>
                  {{ $books := .Pages }}
                  {{ $reading := (where (where $books ".Params.date" "!=" nil) ".Params.finished" "==" nil) }}
                  {{ $toread := where $books ".Params.date" "==" nil }}
                  {{ $challenges := data.GetJSON "data/reading-challenges.json" }}
                  {{ $read := (where (where $.Site.AllPages ".Params.date" "<>" nil) ".Params.finished" "<>" nil) }}
                  <section id="reading">
                    <h2>Currently reading (<a href="/opml/books/current.opml">OPML</a>)</h2>
                    <table class="table table--reading-list">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Started</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{ range $reading }}
                        <tr>
                          <td>{{ .Title }}</td>
                          <td>{{ if .Params.started }}{{ .Params.started | dateFormat "2006-01-02" }}{{ end }}</td>
                        </tr>
                        {{ end }}
                      </tbody>
                    </table>
                  </section>
                  <section id="toread">
                    <h2>To read <span class="reading-listing__count">({{ len $toread }} in total)</span></h2>
                    <table class="table table--reading-list">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{ range $toread }}
                        <tr>
                          <td>{{ .Title }}</td>
                          <td>{{ .Params.author }}</td>
                        </tr>
                        {{ end }}
                      </tbody>
                    </table>
                  </section>
                  <section id="read">
                  <h2>Read <span class="reading-listing__count">({{ len $read }} in total)</span></h2>
                  {{ range $read.GroupByParamDate "finished" "2006" }}
                  {{ $challenge := index $challenges .Key }}
                  <section id="read-{{ .Key }}">
                      <h3>{{ .Key }} <span class="reading-listing__count">({{ len .Pages }} in total{{ if $challenge }}; <span title="Reading challenge">🏁</span> {{ index $challenge "goal" }}{{ end }})</span></h3>
                  <table class="table table--reading-list">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Started</th>
                        <th>Finished</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{ range .Pages }}
                      <tr>
                        {{ if .Params.review }}
                        <td><a href="{{ .Params.review }}">{{ .Title }}</a></td>
                        {{ else }}
                        <td>{{ .Title }}</td>
                        {{ end }}
                        <td>{{ if .Params.started }}{{ .Params.started | dateFormat "2006-01-02" }}{{ end }}</td>
                        <td>{{ if .Params.finished }}{{ .Params.finished | dateFormat "2006-01-02" }}{{ end }}</td>
                      </tr>
                      {{ end }}
                    </tbody>
                  </table>
                  </section>
                  {{ end }}
                  </section>
                </div>
            </div>
            {{ partial "footer.html" }}
        </div>
    </body>
</html>

