<!DOCTYPE html>{{ $.Scratch.Set "isArchive" true }}
<html lang="en">
    {{ partial "head.html" $ }}
    <body>
        <div class="page page--tags">
            {{ partial "header.html" $ }}
            <div id="body">
                <h1>All tags ({{ .Data.Terms.Alphabetical | len }})</h1>
                <ul class="taglist">
                {{ range .Data.Terms.Alphabetical }}
                <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><span class="tag__count">({{.Count }})</a></li>
                {{ end }}
                </ul>
            </div>
            {{ partial "footer.html" }}
        </div>
    </body>
</html>
