<div class="comments">
  <p>Do you want to give me feedback about this article? Please send it to <a href="mailto:comments@zerokspot.com"><i class="icon icon-envelope"></i> comments@zerokspot.com</a>.</p>
  <p>Alternatively, I'm also experimenting with <a href="https://webmention.net/">Webmentions</a>. If you write a post on a blog that supports this technique, I should get notified about your link 🙂</p>
</div>
<div class="webmentions webmentions-container"
    data-endpoint="https://zerokspot.com/webmentions"
    data-target="https://zerokspot.com{{ .RelPermalink }}"></div>
<script src="https://zerokspot.com/webmentions/ui/dist/widget.js"></script>
{{ if .Params.incoming }}
    {{ range .Params.incoming }}
        {{ if in .url "chaos.social" }}
<div class="mastodon-comments" data-url="{{ .url }}">
    <h2>Comments</h2>
    <p>If you have a Mastodon account, you can also leave a comment by replying to <a href="{{ .url }}">this status</a>.</p>
</div>
        {{ end }}
    {{ end }}
{{ end }}
