<header class="page__header">
    <nav id="main-nav">
        <ul class="hoverable">
            <li class=""><a href="/" id="nav-start"><i class="icon icon-home"></i> zerokspot</a></li><li class="{{ if $.Scratch.Get "isArchive" }}active{{ end }}"><a href="/archive/"><i class="icon icon-archive"></i> Archive</a></li><li class="{{ if (and .File (eq .File.LogicalName "now.md"))}}active{{ end }}"><a href="/now/"><i class="icon icon-clock"></i> Now</a></li><li class="{{ if $.Scratch.Get "isReading" }}active{{ end }}"><a href="/reading/"><i class="icon icon-book-open"></i> Reading</a></li><li class="{{ if eq .Section "blogroll" }}active{{ end }}"><a href="/blogroll/"><i class="icon icon-list"></i> Blogroll</a></li><li class="{{ if eq .Section "notes"}}active{{ end }}"><a href="/notes/"><i class="icon icon-clipboard"></i> Notes</a></li><li class="{{ if $.Scratch.Get "isPhotos" }}active{{ end }}"><a href="/photos/"><i class="icon icon-camera"></i> Photos</a></li>
        </ul>
    </nav>
</header>
