<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" }}
    <body>
        <div class="page page--frontpage">
            {{ partial "header.html" }}
            <div id="body" class="h-card">
              <h1 class="p-name">Horst Gutmann</h1>
              <p class="tagline">Software Developer & OpenSource/FreeSoftware Enthusiast</p>
              <div class="page--frontpage__intro">
                {{ range first 1 (where .Site.Pages "Type" "aboutme") }}
                <section class="p-note">
                    <div class="article__content">{{.Content}}</div>
                </section>
                {{ end }}
                <section class="presences">
                    <h2 class="presences__title">Elsewhere...</h2>
                    <ul class="presences__content">
                        {{ range (sort (where (where .Site.Pages "Type" "presence") "IsPage" true) "Title") }}
                        <li class="presences__item">
                            <a href="{{ .Params.website }}"><i class="icon {{.Params.icon}}"></i> {{ .Title }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </section>
              </div>
              <section>
                <h2>Articles</h2>
                <div class="frontpage__welcome page__intro">
                    <p><a href="https://zerokspot.com" class="u-url"
                    rel="me">Here</a> I write as often as possible
                    about various topics. The focus is usually around
                    various technologies and development workflows but
                    I might add the odd book review and other posts
                    from time to time.</p>
                </div>
                {{ $blogPosts := (where (where (where .Site.Pages "Section" "weblog") "IsPage" true) "Draft" false) }}
                <div class="row row--first">
                    <section id="recent">
                        <ul class="page__listing--mini page__listing page__listing--noprefix">
                        {{ range first 10 $blogPosts }}
                        {{ partial "pagelisting_entry.html" . }}
                        {{ end }}
                        </ul>
                        <a class="more" href="/archive/"><span>more posts…</span><span class="more__addon">({{ len $blogPosts }} in total)</span></a>
                    </section>
                </div>
              </section>
              <section class="contact">
                <div class="article__content">
                  <p>You can contact me via <a class="u-email" rel="me authn" href="mailto:zerok@zerokspot.com"><i class="icon icon-envelope"></i> e-mail</a>. If you want to do that in an encrypted way, my key's fingerprint (for <a href="/pgp.asc" rel="pgpkey authn">this key</a>) is the following:<br>
                      <code>C4E0 2BA8 4048 3A5D 6B76  1607 6F20 3F0D 220F 8E98</code></p>
                </div>
              </section>
            </div>
            {{ partial "footer.html" }}
        </div>
    </body>
</html>
