<!DOCTYPE html>{{ $.Scratch.Set "isArchive" true }}
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        <div class="page page--archive">
            {{ partial "header.html" $ }}
            <div id="body">
                {{ if eq .Title "til" }}
                    <h1>Things I've learnt</h1>
                    <div class="page__intro">
                    <p>This page lists thinks I've learnt grouped by topic.</p>
                    </div>
                    {{ range .Data.Pages }}
                        {{ $page := . }}
                        {{ range .Params.tags }}
                            {{ $.Scratch.SetInMap "tags" . true }}
                            {{ $.Scratch.Add (printf "tag_%s" .) (slice $page) }}
                        {{ end }}
                    {{ end }}
                    {{ range $tag, $value := $.Scratch.Get "tags" }}
                        {{ if (ne $tag "til") }}
                        <section class="archive__year" id="{{ $tag }}">
                            <h2>{{ $tag }} <i class="count">({{ $.Scratch.Get (printf "tag_%s" $tag) | len }})</i></h2>
                            <ul class="page__listing page__listing--mini">
                                {{ range $.Scratch.Get (printf "tag_%s" $tag) }}
                                <li><a href="{{ .RelPermalink }}">{{ if .Title }}{{ strings.TrimPrefix "TIL: " .Title }}{{ else }}{{ .Date.Format "2006-01-02" }} // {{ .File.BaseFileName }} <i class="icon icon-clipboard-list"></i>{{ end }}</a> <time>{{ .Date.Format "Jan 02, 2006" }}</time></li>
                                {{ end }}
                            </ul>
                        </section>
                        {{ end }}
                    {{ end }}
                {{ else }}
                    <h1>Archive for "{{ .Title }}"</h1>
                    {{ if eq .Title "100daystooffload" }}
                    <div class="page__intro">
                        <p>100DaysToOffload is a challenge started by Kev Quirk at the end of April 2020 encouraging participants to post one article every day for 100 days. You can find the details on <a href="https://100daystooffload.com/">100daystooffload.com</a>.</p>
                        {{ range (.Data.Pages.GroupByDate "2006").Reverse }}
                        {{ $count := (where .Pages "Type" "weblog").GroupByDate "2006-01-02"  | len}}
                        <p>My progress ({{ .Key }}): <b>{{ $count }}/100</b></p>
                        {{ end }}
                        <p class="disclaimer disclaimer--small">I sometimes posted multiple articles with that tag on the same day. The progress above only includes one post per day, though.</p>
                    </div>
                    {{ end }}
                    {{ range .Data.Pages.GroupByDate "2006" }}
                    <section class="archive__year" id="{{ .Key }}">
                    <h2><a href="#{{ .Key }}">{{ .Key }} <i class="count">({{ len .Pages }})</i></a></h2>
                    <ul class="page__listing page__listing--mini">
                        {{ range .Pages }}
                        {{ partial "pagelisting_entry.html" . }}
                        {{ end }}
                    </ul>
                    </section>
                    {{ end }}
                {{ end }}
            </div>
            {{ partial "footer.html" }}
        </div>
    </body>
</html>
