<!DOCTYPE html>{{ $.Scratch.Set "isArchive" 1 }}
<html lang="en">
    {{ partial "head.html" }}
    <body>
        <div class="page page--archive">
            {{ partial "header.html" $ }}
            <div id="body">
                <h1>Archive</h1>
                <div class="page__intro">
                    <p>Here you can find a listing of all the posts I've written over the years. Especially in early years this blog
                        was mostly a link-dump but in recent years there might be something interesting here for you to read... hopefully.</p>
                </div>
                <script>
                    var years = [
                    {{ range (where .Data.Pages "Section" "weblog").GroupByDate "2006" }}["{{ .Key }}", {{ len .Pages }}],{{end}}
                    ];
                    var searchBaseURL = "/api";
                    {{ if .Site.BuildDrafts }}
                    var searchBaseURL = "http://localhost:9999";
                    {{ else }}
                    var searchBaseURL = "/api";
                    {{ end }}
                </script>
                <div id="app"></div>
                <div class="archive__poweredby"><a href="https://www.algolia.com" rel="external"><img height="18px" src="/images/algolia-powered-by-2ab4dcc4def7b9fe7dfc1fd8eef1da99.svg" alt="Search by Algolia" /></a></div>
                <script src="/js/archive.js"></script>
            </div>
            {{ partial "footer.html" $ }}
        </div>
    </body>
</html>
