name: Auto-merge new articles
on:
  pull_request: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-approve-article:
    runs-on: ubuntu-24.04
    steps:
      - id: check
        run: |
          if [[ "${{ github.event.pull_request.user.login }}" != "zerok" ]]; then
            echo "result=false" >> $GITHUB_OUTPUT
            exit 0
          fi
          echo "result=true" >> $GITHUB_OUTPUT

      - uses: actions/create-github-app-token@v2
        if: steps.check.outputs.result == 'true'
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        if: steps.check.outputs.result == 'true'
      - if: steps.check.outputs.result == 'true'
        run: |
          TITLE=$(gh pr view --json title ${{ github.event.number }} | jq -r '.title')
          if [[ "$TITLE" == "Article: "* ]]; then
            gh pr merge --squash --auto ${{ github.event.number }}
          fi
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
