<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        <div class="page page--single">
            {{ partial "header.html" }}
            <div id="body">
                <article class="article--frontpage">
                    <header>
                        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                        <p class="article__meta">
                            Posted on {{ .Date.Format "Jan 2, 2006" }}
                            {{ if .Params.tags }}
                            <br>Tags: {{ range .Params.tags }}<a href="/tags/{{ .|urlize }}">{{ . }}</a> {{ end }}
                            {{ end }}
                        </p>
                    </header>
                    <div class="article__content">{{ .Content }}</div>


            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'zerokspot';
                var disqus_url = "https://zerokspot.com" + {{.RelPermalink }};

                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </article>
            </div>
            {{ partial "footer.html" }}
        </div>
    </body>
</html>
